.error {
    margin: 10px;
    background-color: rgb(177, 40, 67);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.error:hover{
    background-color: crimson;
    border: none;
}

.error:active{
    border: 1px solid black;
}
.error:focus{
    outline: none;
}